/* styles.css */

  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
    margin-top: 5%;
  }
  

  main {
    flex: 1; 
}

