
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-collapse justify-content-end">
        <button class="btn btn-outline-primary mx-2"  (click)="navigateToRoute('route1')">Inicio</button>
        <button class="btn btn-outline-primary mx-2"  (click)="navigateToRoute('route2')">Personajes</button>
        <button class="btn btn-outline-primary mx-2"  (click)="navigateToRoute('route3')">Dungeon master</button>
      </div>
    </div>
  </nav>
  