.card {
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
    padding: 1%;
    margin-left: 2%;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-body {
    padding: 20px;
}

h5.card-title {
    font-size: 1.8rem; 
    color: #343a40; 
}

p.card-text {
    font-size: 1.2rem;
    color: #6c757d; 
}

small.text-muted {
    color: #999; 
}

