<div class="container" *ngIf="displayedCharacter">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{displayedCharacter.fullimg}}" class="img-fluid rounded-start" alt="Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ displayedCharacter.name}}</h5>
                            <p class="card-text">
                                {{ displayedCharacter.description}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

