
<div class="container mt-5"  *ngFor="let image of joke;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ image.name}}</h5>
                            <p class="card-text">
                                {{ image.value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>